// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans 3', sans-serif;
}

p {
  font-size: 18px;
  color: rgba($color: #636363, $alpha: 1);
}

.q-markdown--heading-h2 {
  text-align: center;
}
